<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/therapists">
                <i class="icon-head menu-icon"></i>
                <span class="menu-title">Therapists</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/questions">
                <i class="icon-anchor menu-icon"></i>
                <span class="menu-title">Questions</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/answers">
                <i class="icon-book menu-icon"></i>
                <span class="menu-title">Answers</span>
            </a>
        </li>
    </ul>
</nav>